#service {
  width: 100%;
  height: auto;
  padding-top: 150px;
}

.service-content {
  position: relative;
  width: 100%;
}


.service-back {
  display: block;
  width: 100%;
  height: 1280px;
  object-fit: cover;
}

.service-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52%;
  height: auto;
  padding: 50px;
}

.service-text01 {
  padding-bottom: 150px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.service-text02 {
  font-size: 24px;
  color: #333;
}

.service-item-box {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 100px 0 150px 0;
}

.service-item {
  width: 30%;
  height: 574px;
  text-align: center;
}

.service-item h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding-bottom: 80px;
}

.material-symbols-outlined {
  padding: 80px 0;
  font-size: 55px !important;
  width: 55px;
  height: 55px;
}

.service01 {
  background-color: #D8E6F9;
}

.service02 {
  background-color: #F0E9F7;
}

.service03 {
  background-color: #E2F5FF;
}